.landing-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.8rem 3rem;
	font-family: var(--font-family);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	background-color: var(--gradient-bg);
	backdrop-filter: blur(12px);
	border-bottom: 1px solid var(--color-input-border);
}

.landing-navbar .landing-navbar-links {
	gap: 5rem;
	display: flex;
	font-weight: 500;
	font-size: 1.1rem;
	margin: 0 4rem;
}

.landing-navbar .landing-navbar-links p {
	color: var(--color-navlinks);
	transition: 0.2s all ease;
}

.landing-navbar .landing-navbar-links p:hover {
	color: #222;
}

.landing-navbar-logo img {
	width: 65%;
}
